@use "~/styles/helpers/" as *;

.footer-action {
  display: flex;
  flex-direction: column;
  row-gap: rem(12);

  &__title {
    font-weight: 600;
  }

	&__link {
		@include hover {
			opacity: 0.6;
		}

		&:active {
			opacity: 0.3;
		}
	}
}
