@use "~/styles/helpers" as *;

.professions {
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(16);
  }

  &__accent {
    background-color: var(--color-dark);
    border-radius: var(--border-radius-large);
    color: var(--color-light);
    padding: rem(92) rem(54) rem(24);
		display: flex;
		flex-direction: column;
		align-items: center;

		&-title {
			max-width: rem(350);
			text-align: center;
		}

    &-icon {
      @include square(rem(48));

			margin-top: auto;

      & * {
        fill: currentColor;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
  }

  &__item {
    padding: rem(20) rem(24);
    background-color: var(--color-gray-alt);
    border-radius: var(--border-radius-large);
		display: flex;
		column-gap: rem(12);

		&-icon {
			@include square(rem(24))
		}
  }
}
