@use "~/styles/helpers" as *;

.news-card {
  background-color: var(--color-light);
  border-radius: var(--border-radius-large);
	padding: rem(8);

  @include hover {
    .news-card__image {
      scale: 1.2;
    }
  }

  &__wrapper-image {
    overflow: hidden;
    border-radius: var(--border-radius-small);
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-small);
    transition-duration: var(--transition-duration);
  }

  &__inner {
    padding: rem(24) rem(16);
  }

  &__info {
    font-weight: 600;
    font-size: rem(12);
    line-height: 1.33;
    letter-spacing: 0.01em;
    color: var(--color-gray-dark);
    margin-bottom: rem(8);
  }

  &__text {
    margin-bottom: rem(24);
  }
}
