@use "~/styles/helpers" as *;

.section {
  padding-block: rem(112);

	// &:not(.section--gray):nth-child(2n) {
	// 	color: red;
	// }
	
  &--gray {
    background-color: var(--color-gray);
  }

	&:has(.directions) {
		.section__title {
			max-width: rem(350);
		}
	}

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: rem(48);
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
  }

	&__description {
		max-width: rem(610);
	}
}
