@use "~/styles/helpers/" as *;

.header {
  background-color: var(--color-dark);
  padding-block: rem(16);
  position: fixed;
  z-index: 900;
  width: 100%;
  background-color: var(--color-light);
  box-shadow: var(--box-shadow);
  color: var(--color-dark);

  &:not(.header--transparent) {
  	animation-name: animate-top;
  	animation-duration: var(--transition-duration);
  }

  &--transparent {
    background-color: transparent;
    position: absolute;
    top: 0;

    .header__menu-link,
    .header__menu-button {
      color: var(--color-light);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    display: flex;
    column-gap: rem(32);
    align-items: center;
  }

  &__menu {
    &-list {
      display: flex;
      column-gap: rem(32);
    }

    &-item {
      position: relative;
    }

    &-link,
    &-button {
      color: var(--color-dark);
      position: relative;
    }

    &-link {
      &::after {
        content: "";
        width: 0;
        height: rem(1);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: currentColor;
        transition-duration: var(--transition-duration);
      }

      @include hover(false) {
        &::after {
          width: 100%;
        }
      }
    }

    &-button {
      @include button-reset;

      display: flex;
      align-items: center;
      column-gap: rem(4);

      & svg {
        rotate: 90deg;

        & * {
          fill: currentColor;
        }
      }

      @include hover {
        color: var(--color-gray-dark);
      }

      &.active {
        svg {
          rotate: -90deg;
        }
      }
    }
  }
}

@keyframes animate-top {
  from {
    top: -100px;
  }

  to {
    top: 0;
  }
}
